aiofiles==0.4.0
blinker==1.4
Click==7.0
h11==0.8.1
h2==3.0.1
hpack==3.0.0
Hypercorn==0.3.2
hyperframe==5.1.0
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
multidict==4.4.2
pytoml==0.1.20
Quart==0.6.8
sortedcontainers==2.0.5
typing-extensions==3.6.6
wsproto==0.12.0
